<!-- Incluimos el header que se guardo en el forder de parciales -->
<% include parciales/header %>

<h1><%= campamentoEncontrado.nombreCampamento %></h1>
<img src="<%= campamentoEncontrado.imagenCampamento %>">
<p><%= campamentoEncontrado.descripcionCampamento %> </p>
<% campamentoEncontrado.comentarios.forEach(function(elemento){ %>
    <p><%=elemento.autor %> - <%= elemento.texto %></p>
<% }) %>


<!-- Incluimos el footer que se guardo en el forder de parciales -->
<% include parciales/footer %>