<!-- Incluimos el header que se guardo en el forder de parciales -->
<% include ../parciales/header %>
<!-- Desplegado de la info de los campamentos a los que les dimos click -->
<h1><%= campamentoEncontrado.nombreCampamento %></h1>
<img src="<%= campamentoEncontrado.imagenCampamento %>">
<p><%= campamentoEncontrado.descripcionCampamento %> </p>
<p>
    <a class="btn btn-success" href="/sitiosparaacampar/<%=campamentoEncontrado._id%>/comentarios/nuevo">Aniadir nuevo comentario</a>
</p>
<!-- Empieza rendereado de los comentarios del campamento seleccionado -->
<% campamentoEncontrado.comentarios.forEach(function(elemento){ %>
    <!-- Desplegado de los comentarios --> 
    <p>
        <strong><%=elemento.autor %></strong> - <%= elemento.texto %>
    </p>
<% }) %>


<!-- Incluimos el footer que se guardo en el forder de parciales -->
<% include ../parciales/footer %>